<h1>Showing selected article</h1>


<p>
	Title: <%= @article.title %>
	<% x = 10 %>
	<% if x == 10 %>
		x: <%= x + 10 %>
	<% end %>
</p>


<p>

	Description: <%= @article.description %>

</p>
<%= link_to "Edit this article", edit_article_path(@article) %>
|<%= link_to "Back to article listing", articles_path %>
